.git
__pycache__
.venv
venv
node_modules
wandb
outputs
checkpoints
secure_checkpoints
*.pt
*.safetensors
*.ckpt
data
validator/evaluation/ComfyUI
comfy-ideogram
ideogram-eval-images
ideogram-debug*
krea-eval-images